<div class="container h-100 ">

  <div class="row align-items-center h-100">
    <div class="col-6 mx-auto">

      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title alert-success text-center">Update</div>
        </div>
        <div class="ibox-body">


          <form (ngSubmit)="onSubmit()" [formGroup]="adminUpdateForm">

            <div class="form-group">
              <label for="adminName">Admin Name</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.adminName.errors }" class="form-control"
                     value="{{adminList?.adminName}}"
                     formControlName="adminName" id="adminName"
                     type="text"/>
              <div *ngIf="submitted && f.adminName.errors" class="invalid-feedback">
                <div *ngIf="f.adminName.errors.required">Admin Name</div>
              </div>

              <label for="adminEmail">Admin Email</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.adminEmail.errors }" class="form-control"
                     value="{{adminList?.adminEmail}}"
                     formControlName="adminEmail" id="adminEmail"
                     type="text"/>
              <div *ngIf="submitted && f.adminEmail.errors" class="invalid-feedback">
                <div *ngIf="f.adminEmail.errors.required">Admin Email is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="adminPhone">Phone no.</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.adminPhone.errors }" class="form-control"
                     value="{{adminList?.adminPhone}}"
                     formControlName="adminPhone" id="adminPhone"
                     type="text"/>
              <div *ngIf="submitted && f.adminPhone.errors" class="invalid-feedback">
                <div *ngIf="f.adminPhone.errors.required">Valid phone no is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="adminPhone">Gender .</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" class="form-control"
                     value="{{adminList?.gender}}"
                     formControlName="gender" id="gender"
                     type="text"/>
              <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                <div *ngIf="f.gender.errors.required">Valid gender no is required</div>
              </div>
            </div>

            <div *ngIf="submitted && serverError!=''" class="form-group mb-4 row">
              <label class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <div class="text-danger">{{ serverError }}</div>
              </div>
            </div>
            <div class="form-group text-right">
              <button (click)="back()" class="btn btn-primary mr-2">Back</button>
              <button class="btn btn-primary">Update Admin</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



